*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background: black;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  line-height: 1.2;
}

.body-blocked-scrolling {
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  width: 100%;
  min-height: 100vh;
}

.wrapper, form, dialog {
  user-select: none;
}

dialog {
  border-radius: 1rem;
  width: 13%;
  min-width: 293px;
  background-color: #36394f;
  margin-top: 200px;
  padding: 20px;
}

dialog::backdrop {
  background: black;
  opacity: .7;
}

.pl1-game-over-wrapper {
  margin-bottom: 0;
}

.pl2-game-over-wrapper {
  margin-top: 0.6em;
}

.game-over-wrapper,
.pl1-game-over-wrapper,
.pl2-game-over-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-h3 {
  font-size: 1.1em;
  color: #f8e800;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 0px #dd0757;
}

.display-game-over-score {
  color: white;
  font-size: 0.7em;
  margin: 1.5em 0;
}

.pl1-name-span, .pl2-name-span {
  font-size: 1.2rem;
  font-weight: 700;
}

.pl1-game-over-name, .pl2-game-over-name {
  margin-right: 1em;
  color: #00BCD4;
  font-weight: 700;
  text-shadow: 2px 2px 0px black;
}

.pl1-game-over-score,
.pl2-game-over-score {
  font-weight: 700;
  text-shadow: 2px 2px 0px black;
}

form {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

fieldset {
  border: none;
  border-radius: 0.5rem;
  padding: 0;
}

legend {
  margin: 0 auto;
  color: #e8d5ff;
  font-weight: bolder;
  background: #36394f;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 0px #dd0757;
}

.form-p {
  display: grid;
  color: #0000009c;
  margin: 1.3rem 0;
}

input {
  font: 1.3rem sans-serif;
  width: 100%;
  max-width: 100%;
  border: 2px solid #000000;
  background: #e8d5ff;
  color: #000000;
}

input:focus-visible {
  outline: 2px solid #e8d5ff; 
  outline-offset: 2px;
}

button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline-offset: 3px;
  outline: 2px solid #e8d5ff;
  border-radius: 3px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-size: 0.8rem;
  color: #e8d5ff;
  padding-bottom: 1px;
}

.add-players-btn-div {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  padding-top: 1.5rem;
}

.restart-game-btn-div {
  display: flex;
  justify-content: center;
}

.restart-game-btn-div .restart-game-btn {
  background-color: #2e303e;
  box-shadow: 2px 2px 0 #F8008C;
  border: solid #3decf0 2px;
}

.add-players-btn {
  background-color: #6724da;
}

.add-players-btn:active {
  background-color: #1EE9A4;
  color: rgb(0, 0, 0);
  border: solid #3F51B5  2px;
  outline: 2px solid #e8d5ff;
  outline-offset: 2px;
}

.skip-dialog-btn {
  background-color: #00000075;
}

.skip-dialog-btn:active {
  background-color: #E91E63;
  color:rgb(0, 0, 0);
  border: solid #3F51B5  2px;
  outline: 2px solid #e8d5ff; 
  outline-offset: 2px;
}

.restart-game-btn:active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  outline: 2px solid #e8d5ff;
  outline-offset: 2px;
  box-shadow: 2px 2px 0 #3decf0;
  border: solid #F8008C 2px;
}

.add-players-btn, .skip-dialog-btn, .restart-game-btn {
  padding: 0.6em 1em;
  border-radius: 4px;
  border: solid #9a8c98 2px;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

.fields-container {
  width: 500px;  
  justify-content: center;
  align-items: center;
  position: relative;
}

.fields-container, 
.display-score {
  display: none;
}

.fields-container.active, 
.display-score.active {
  display: flex;
}

.field {
  border: 4px solid #8125da;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-column > div {
  border-left: none;
}

.third-column > div {
  border-right: none;
}

.first-column > :first-child,
.second-column > :first-child,
.third-column > :first-child {
  border-top: none;
}

.first-column > :last-child,
.second-column > :last-child,
.third-column > :last-child {
  border-bottom: none;
}

.o {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  border: 18px solid #7EDA25;
}

.x {
  height: 2.8em;
  position: relative;
  border-radius: 5px;
}

.x:before, 
.x:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 100%;
  background: #7EDA25;
  transform-origin: center;
  border-radius: 4px;
}

.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.display-score {
  gap: 0.4em;
  position: absolute;
  top: 510px;
  color: rgb(255 255 255 / 48%);
  font-size: 0.5em;
}

.player-active {
  border-radius: 9px;
  box-shadow: 3px 1px #9e9e9eb8;
}

.display-status {
  color: #E8D5FF;
  position: absolute;
  top: 470px;
  font-size: 1.5rem;
}

.inert {
  pointer-events: none;
  opacity: 0.5;
}

.win {
  background: #8125DA;
}

.pl1-wrapper,
.pl2-wrapper {
  display: flex;
  align-items: center;
  height: 5rem;
}

.pl1-icon-div, .pl2-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem 0.7rem;
  white-space: nowrap;
  min-width: 5rem;
}

.pl1-icon-div > img,
.pl2-icon-div > img {
  width: 100%;
  height: 1.3em;
}

.pl1-score, .pl2-score {
  font-size: 2.8em;
  font-weight: 700;
  color: #FFCC00;  
  font-family: monospace;
}

.pl1-score {
  margin-left: 0.4em;
}

.pl2-score {
  margin-right: 0.4em;
}

.score-separator {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  color: #673AB7;
}

.pl1-name-span, 
.pl2-name-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 755px) {
  body {
    font-size: 44px;
  }

  .wrapper {
    margin-top: 130px;
  }

  dialog {
    width: 15%;
    margin-top: 300px
  }

  legend {
    font-size: 1.6rem;
  }

  label {
    font-size: 0.9rem;
  }

  .add-players-btn, .skip-dialog-btn, .restart-game-btn {
    padding: 0.4em 0.9em;
    font-size: 1rem;
  }

  .display-status {
    top: 592px;
    font-size: 1.8rem;
  }

  .display-score {
    top: 635px;
  }

  .display-game-over-score {
    font-size: 1.4rem;
  }

  .game-over-h3 {
    font-size: 2.1rem;
  }

  .pl1-name-span, .pl2-name-span {
    font-size: 1.2rem;
  }
}
