*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 55px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

}

.fields-container {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  justify-content: center;
  align-items: center;
}

.field {
  border: 2px solid purple;
  height: 4em;
  width: 4em;
}